@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
}

.section__title {
  font-size: 4.2rem;
  line-height: 48px;
  color: #e72420;
  font-weight: bold;
  text-align: center;
  padding: 70px 0;
}

.section__title--fw500 {
  font-weight: 500;
  color: #e72420;
}

.section__button {
  text-align: center;
  position: relative;
  letter-spacing: -2px;
}

.section__button .btn {
  display: inline-block;
  padding-top: 5px;
  height: 52px;
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 500;
  border-radius: 26px;
  border: 4px solid #e72420;
  color: #e72420;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding-left: 10px;
}

.section__button .btn img {
  padding: 0;
  position: absolute;
  top: -4px;
  left: -4px;
  margin-right: 10px;
}

.section__button .btn p {
  padding-left: 30px;
}

.section__button .btn :nth-child(3) {
  display: none;
}

.section__button .btn:hover {
  color: #ffffff;
  background-color: #e72420;
}

.section__button--border-black {
  text-align: start;
}

.section__button--border-black .btn {
  border-radius: 27px;
  border: 4px solid #000000;
  font-size: 2.4rem;
  height: 54px;
  width: 263px;
}

.section__button--border-black .btn img {
  position: absolute;
  top: 10px;
  left: 35px;
  margin-right: 10px;
}

.section__button--border-black .btn:hover img {
  filter: invert(100%) sepia(100%) saturate(3%) hue-rotate(251deg) brightness(150%) contrast(100%);
}

.section__button--width-241px .btn {
  width: 241px;
}

.section__button--width-491px .btn {
  width: 491px;
}

.section__button--width-491px .btn img {
  position: absolute;
  top: 10px;
  left: 30px;
}

.section__button--width-491px .btn:hover img {
  filter: invert(100%) sepia(100%) saturate(3%) hue-rotate(251deg) brightness(150%) contrast(100%);
}

.section__button--width-264px .btn {
  width: 264px;
}

.section__button--width-191px .btn {
  width: 191px;
}

.section__button--big {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__button--big .btn {
  border: 4px solid #000000;
  width: 380px;
  height: 72px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__button--big .btn p {
  font-size: 2.8rem;
  margin: 0;
}

.section__button--big .btn img {
  top: 15px;
  left: 70px;
}

.section__button--big .btn:hover img {
  filter: invert(100%) sepia(100%) saturate(3%) hue-rotate(251deg) brightness(150%) contrast(100%);
}

.section__container {
  position: relative;
  max-width: 1366px;
  margin: auto;
}

.section__container--height-500px {
  display: flex;
  height: 500px;
}

.section__container--height-690px {
  min-height: 690px;
}

.section__container--height-869px {
  min-height: 869px;
}

.section__container--height-600px {
  min-height: 600px;
  text-align: center;
}

.section__container--height-631px {
  min-height: 631px;
  text-align: center;
}

.section-main {
  background-color: red;
  padding-top: 72px;
  position: relative;
}

.section-main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/img/section-main/background-main.png);
  opacity: .2;
  animation: moving 20s linear infinite;
}

@keyframes moving {
  0% {
    background-position: 50%;
  }
  100% {
    background-position: -1000px;
  }
}

.section-main__container {
  position: relative;
  max-width: 1366px;
  height: 500px;
  display: flex;
  margin: auto;
}

.section-main__image {
  margin-top: 30px;
  width: 50%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.section-main__image-text {
  position: absolute;
  top: 35px;
  left: 40px;
}

.section-main__image-text p {
  text-align: center;
  font-size: 1.8rem;
  color: #e72420;
  position: absolute;
  top: 30px;
}

.section-main__text {
  width: 50%;
  color: white;
  margin-top: 50px;
}

.section-main__text-p p:nth-child(1) {
  font-size: 4rem;
  padding: 10px 0;
  letter-spacing: 2px;
}

.section-main__text-p p:nth-child(2) {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-top: 15px;
}

.section-main__text-p p:nth-child(3) {
  font-size: 8rem;
  letter-spacing: 4px;
  margin-top: -30px;
}

.section-main__text ul {
  padding-bottom: 20px;
}

.section-main__text ul li {
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: bold;
  list-style: none;
}

.section-1__container {
  max-width: 1366px;
  min-height: 690px;
  margin: auto;
}

.section-1__container-info {
  margin-right: 50px;
}

.section-1__content {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 70px;
}

.section-1__text {
  max-width: 688px;
  font-size: 18px;
  line-height: 28px;
  color: #312927;
  font-weight: 500;
  letter-spacing: -2px;
  padding-bottom: 30px;
}

.section-1__text--red {
  font-size: 22px;
  line-height: 28px;
  color: #e72420;
  font-weight: bold;
}

.section-1__content-image-sp-view {
  display: none;
}

.section-1__info {
  margin-top: 10px;
  display: flex;
}

.section-1__info-item {
  height: 132px;
  width: 132px;
  margin: 15px;
  border-radius: 50%;
  background-color: #e72420;
  text-align: center;
  position: relative;
}

.section-1__info-item img:first-child {
  display: none;
}

.section-1__info-number {
  font-size: 2.6rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.section-1__info-text {
  margin-top: 40px;
  font-size: 20px;
  line-height: 24px;
  color: #312927;
  font-weight: bold;
  text-align: center;
}

.section-1__info-text--sp-view {
  display: none;
}

.section-2 {
  background-color: #f1f1f1;
}

.section-2__container {
  position: relative;
  max-width: 1366px;
  min-height: 869px;
  margin: auto;
}

.section-2__content {
  display: flex;
  justify-content: center;
  letter-spacing: -1.8px;
  margin-bottom: 20px;
}

.section-2__image {
  margin-left: 50px;
}

.section-2__image--sp-view {
  display: none;
}

.section-2__text h2 {
  font-size: 2.8rem;
  line-height: 34px;
  color: #312927;
  font-weight: normal;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.section-2__text h2 img {
  padding-right: 10px;
}

.section-2__text p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #312927;
  max-width: 679px;
  margin-bottom: 40px;
}

.section-2__text img:nth-child(2) {
  display: none;
}

.section-3__container {
  min-height: 600px;
  max-width: 1366px;
  margin: auto;
  text-align: center;
}

.section-3__text-top {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.section-3__text-top p {
  letter-spacing: -2px;
}

.section-3__content {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  max-width: 979px;
  height: 181px;
  background-color: #312927;
  margin-bottom: 40px;
  margin-top: 35px;
}

.section-3__text {
  font-size: 1.8rem;
  color: #ffffff;
  text-align: start;
  margin-left: 30px;
  letter-spacing: -3px;
}

.section-3__text span {
  color: #ffe7c6;
  font-size: 2.4rem;
  letter-spacing: -2px;
}

.section-3__image {
  width: 280px;
  height: 120px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 25px;
}

.section-3__image img {
  padding: auto;
  margin: 0 40px;
}

.section-4 {
  background-color: #f1f1f1;
}

.section-4__container {
  max-width: 1366px;
  min-height: 631px;
  text-align: center;
  margin: auto;
}

.section-4__content {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.section-4__card {
  width: 280px;
  height: 263px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  margin: 0 30px;
  padding: 20px;
}

.section-4__card-image {
  width: 240px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
}

.section-4__card-image img {
  object-fit: contain;
}

.section-4__card-image--sp-view {
  display: none;
}

.section-4__card-text {
  text-align: start;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e72420;
  line-height: 24px;
  margin-top: 10px;
  letter-spacing: 0;
}

.footer__top {
  background-color: #e72420;
  color: #ffffff;
}

.footer__top-container {
  max-width: 1366px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 30px;
}

.footer__top-left {
  width: 50%;
  height: 248px;
  border-right: 1px solid #ffffff;
}

.footer__top-right {
  width: 50%;
}

.footer__top h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 32px;
  color: #ffffff;
  font-family: "Koz Go Pr6 N";
  text-align: center;
}

.footer__top p {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 30px;
}

.footer__mid {
  background-color: #f1f1f1;
  font-size: 1.8rem;
  color: #333333;
}

.footer__mid-container {
  max-width: 1366px;
  min-height: 242px;
  display: flex;
  justify-content: start;
  text-align: start;
  margin: auto;
  padding-top: 30px;
}

.footer__mid-left {
  width: 50%;
  padding-left: 20px;
}

.footer__mid-right {
  width: 50%;
  padding-left: 20px;
}

.footer__mid p {
  font-size: 1.8rem;
  font-weight: 600;
}

.footer__mid a {
  color: #333333;
}

.footer__mid ul li {
  list-style: none;
}

.footer__bottom {
  max-width: 1366px;
  min-height: 180px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.footer__bottom-logo {
  height: 30px;
}

.footer__bottom-logo--sp-view {
  display: none;
}

.footer__bottom-copyright--sp-view {
  display: none;
}

.footer__bottom p {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.to-top {
  position: fixed;
  right: 50px;
  bottom: 100px;
  cursor: pointer;
  display: none;
}

.header {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.header a {
  text-decoration: none;
}

.header__container {
  height: 66px;
  width: 1366px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.header__logo {
  height: 100%;
  padding: 0 50px 0 20px;
  border-right: 1px solid #dddddd;
  display: flex;
  align-items: center;
}

.header__nav {
  height: 100%;
  width: auto;
  display: flex;
}

.header__nav a {
  color: #e72420;
}

.header__nav-main {
  width: 100%;
  display: flex;
  align-items: center;
}

.header__nav-main .header__nav-link:nth-child(1) {
  display: none;
}

.header__nav-main a span :first-child {
  display: none;
}

.header__nav-btn {
  display: none;
}

.header__line {
  height: 6px;
  background-color: #e72420;
  position: absolute;
  width: 100vw;
  top: 66px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
}

.header__line--link {
  height: 6px;
  background-color: #e72420;
  position: absolute;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
}

.header__nav-link {
  border-right: 1px solid #dddddd;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__nav-link i {
  padding-right: 10px;
}

.header__nav-link .break {
  max-width: 128px;
}

.header__nav-right {
  display: flex;
  align-items: center;
}

.header__nav-link-right {
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #e72420;
}

.header__nav-link-right:hover {
  color: #ffffff;
  background-color: #000000;
}

.header__nav-link-right--red {
  width: 117px;
  background-color: #e72420;
  color: #ffffff;
}

.header__subnav--1 {
  width: 268px;
}

.header__subnav--2 {
  width: 307px;
}

.header__subnav {
  display: none;
  position: fixed;
  background-color: #ffffff;
  height: 189px;
  top: 66px;
  text-align: start;
  margin-left: -20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 2;
}

.header__subnav-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 6px;
}

.header__subnav-link a {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__subnav-link i {
  padding: 0 10px 0 20px;
}

.header__subnav-link a:hover {
  color: #ffffff;
  background-color: #000000;
}

.header__nav-link:hover {
  color: #ffffff;
  background-color: #000000;
}

.header__nav-link:hover span {
  color: #ffffff;
}

.header__nav-link:hover .header__subnav {
  display: block;
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .section__button .btn {
    width: 630px;
    height: 100px;
    border-radius: 50px;
    font-size: 38px;
    letter-spacing: 1px;
    border: 8px solid #e72420;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .section__button .btn img {
    top: -8px;
    left: -8px;
  }
  .section__button .btn :nth-child(2) {
    display: none;
  }
  .section__button .btn :nth-child(3) {
    display: block;
  }
  .section__button--big .btn {
    width: 290px;
    height: 72px;
    border-radius: 36px;
    border: 4px solid #000000;
  }
  .section__button--big .btn :nth-child(2) {
    display: block;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 35px;
  }
  .section__button--border-black .btn {
    width: 333px;
    height: 64px;
    border-radius: 32px;
    border: 4px solid #000000;
  }
  .section__button--border-black p {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .section__button--border-black .btn img {
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
  }
  .section__button--width-491px .btn img {
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
  }
  .section__button--width-491px span {
    display: block;
    font-size: 32px;
  }
  .section__button--width-491px .btn p {
    text-align: start;
    line-height: 40px;
    letter-spacing: -2px;
    padding-left: 20px;
  }
  .section__title {
    display: block;
    font-size: 64px;
    letter-spacing: 3px;
    line-height: 74px;
    color: #e72420;
    font-weight: bold;
    text-align: center;
    padding: 50px 0;
  }
  .section__title--width span {
    letter-spacing: -5px;
    white-space: nowrap;
    text-align: center;
  }
  .section__container {
    max-width: 1200px;
    padding-inline: 40px;
    margin: auto;
  }
  .section__container--height-500px {
    height: 886px;
    display: block;
    width: 100%;
  }
  .section__container--height-690px {
    padding-bottom: 50px;
    max-width: 750px;
  }
  .section__container--height-869px {
    padding-bottom: 50px;
  }
  .section__container--height-600px {
    text-align: center;
    padding-bottom: 50px;
    max-width: 750px;
  }
  .section__container--height-631px {
    text-align: center;
    padding-bottom: 50px;
    max-width: 750px;
  }
  .header__container {
    padding-inline: 40px;
    height: 118px;
    justify-content: space-between;
  }
  .header__logo {
    border-right: 0;
  }
  .header .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 58px;
    cursor: pointer;
  }
  .header .toggle-button .bar {
    background-color: #e72420;
    height: 5px;
    width: 100%;
    border-radius: 10px;
  }
  .header .drop .bar--1 {
    transform: rotate(-45deg) translate(-17px, 20px);
  }
  .header .drop .bar--2 {
    display: none;
  }
  .header .drop .bar--3 {
    transform: rotate(45deg) translate(-17px, -21px);
  }
  .header__nav {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 124px;
    left: 0;
    display: none;
  }
  .header__nav-main {
    position: absolute;
    flex-direction: column;
    background-color: #ffffff;
  }
  .header__nav-main a span {
    display: flex;
    padding-left: 40px;
  }
  .header__nav-main a span :first-child {
    display: block;
  }
  .header .header__nav-link:nth-child(1) {
    display: flex;
  }
  .header .active {
    display: block;
  }
  .header__nav-link {
    border-right: 0;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin-inline: 40px;
  }
  .header__nav-link a {
    flex-direction: row;
  }
  .header__nav-link span {
    font-size: 38px;
  }
  .header__nav-link span :nth-child(2) {
    display: none;
  }
  .header__nav-link .break {
    max-width: 100%;
  }
  .header__subnav-link {
    padding: 0;
    font-size: 30px;
    font-weight: 500;
  }
  .header__subnav-link a:first-child {
    display: none;
  }
  .header__subnav-link i {
    font-size: 20px;
  }
  .header__subnav {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    margin-left: 0;
    box-shadow: none;
  }
  .header__nav-right {
    display: none;
  }
  .header__line {
    top: 118px;
    width: 100%;
  }
  .header__line--link {
    display: none;
  }
  .section-main {
    padding-top: 124px;
    overflow: hidden;
  }
  .section-main__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 886px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
  .section-main__text-p p:nth-child(1) {
    font-size: 48px;
    font-weight: 500;
  }
  .section-main__text-p p:nth-child(2) {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
  }
  .section-main__text-p p:nth-child(3) {
    font-size: 96px;
    letter-spacing: 5px;
    font-weight: 500;
  }
  .section-main__image {
    margin-top: 0;
    width: 100%;
  }
  .section-main__image img,
  .section-main__image p {
    margin-top: 260px;
  }
  .section-main__image-text {
    width: 267px;
    height: 131px;
    top: 20px;
  }
  .section-main__image-text img {
    width: 267px;
    height: 131px;
  }
  .section-main__image-text p {
    font-size: 2.4rem;
    top: 40px;
    letter-spacing: -2px;
    padding-left: 10px;
    font-weight: 600;
  }
  .section-main__text-p {
    text-align: center;
  }
  .section-main__text-sp-view {
    max-width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
  }
  .section-main__text-sp-view ul {
    padding: 0;
  }
  .section-main__text-sp-view ul li {
    font-size: 19px;
    line-height: 23px;
  }
  .section-1__content-image {
    display: none;
  }
  .section-1__text {
    font-size: 2.8rem;
    line-height: 44px;
    letter-spacing: -2px;
    padding-bottom: 0;
  }
  .section-1__container-info {
    margin-right: 0;
    width: 100%;
  }
  .section-1__content-image-sp-view {
    display: block;
    text-align: center;
    margin-block: 30px;
  }
  .section-1__text--red {
    font-size: 3.4rem;
    font-weight: bold;
  }
  .section-1__info-number {
    display: none;
  }
  .section-1__info-text {
    display: none;
  }
  .section-1__info-text--sp-view {
    display: block;
    font-size: 3.4rem;
    line-height: 28px;
    color: #312927;
    font-weight: bold;
    text-align: center;
    position: absolute;
    bottom: -50px;
    word-wrap: normal;
    width: 320px;
  }
  .section-1__info {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
  }
  .section-1__info-item {
    width: 264px;
    height: 264px;
    border-radius: 132px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-1__info-item img:first-child {
    display: block;
  }
  .section-1__info-item img:nth-child(2) {
    display: none;
  }
  .section-2__image {
    display: none;
  }
  .section-2__image--sp-view {
    display: block;
    text-align: center;
  }
  .section-2__text {
    margin-top: 50px;
  }
  .section-2__text h2 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
  }
  .section-2__text p {
    font-size: 28px;
    line-height: 44px;
    text-align: start;
  }
  .section-2__text img:first-child {
    display: none;
  }
  .section-2__text img:nth-child(2) {
    display: block;
  }
  .section-3__text-top {
    font-size: 28px;
    line-height: 44px;
    text-align: start;
  }
  .section-3__text-top p {
    letter-spacing: -2px;
  }
  .section-3__content {
    width: 650px;
    height: 553px;
    flex-direction: column;
  }
  .section-3__text {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 20px;
    margin-right: 30px;
  }
  .section-3__text span {
    color: #ffe7c6;
    font-size: 3.4rem;
    letter-spacing: -2px;
  }
  .section-3__image {
    width: 590px;
    height: 253px;
    justify-content: center;
  }
  .section-3__image img {
    transform: scale(2);
  }
  .section-4__card-image {
    display: none;
  }
  .section-4__content {
    flex-direction: column;
  }
  .section-4__card {
    width: 650px;
    height: 508px;
    border: 2px solid #cccccc;
    margin: 0;
    padding: 30px;
    margin-bottom: 50px;
  }
  .section-4__card-image--sp-view {
    width: 590px;
    height: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
  }
  .section-4__card-image--sp-view img {
    object-fit: contain;
  }
  .section-4__card-text {
    font-size: 24px;
    line-height: 38px;
    padding-top: 10px;
  }
  .footer {
    position: relative;
    border-top: 2px solid #dddddd;
    margin-inline: auto;
  }
  .footer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
  }
  .footer__container :nth-child(1) {
    order: 3;
  }
  .footer__top-container {
    max-width: 750px;
    min-height: 110px;
    padding: 0;
    align-items: center;
    flex-direction: row-reverse;
    padding-inline: 40px;
    padding-right: 100px;
  }
  .footer__top-left {
    width: 50%;
    height: 72px;
    border: none;
  }
  .footer__top-right {
    height: 72px;
  }
  .footer__top p {
    font-weight: bold;
  }
  .footer__top-text {
    display: none;
  }
  .footer__mid-container {
    max-width: 1200px;
    min-height: 786px;
    display: block;
    padding-inline: 40px;
  }
  .footer__mid-left {
    width: 100%;
    padding-right: 20px;
  }
  .footer__mid-left ul li {
    padding: 15px 0;
  }
  .footer__mid-right {
    width: 100%;
    padding-right: 20px;
    letter-spacing: -1px;
  }
  .footer__mid p {
    font-size: 38px;
    font-weight: bold;
    padding: 15px 0;
  }
  .footer__mid a {
    text-underline-offset: 2px;
    font-weight: 500;
  }
  .footer__mid ul li {
    line-height: 40px;
    font-size: 24px;
  }
  .footer__bottom {
    max-width: 1200px;
    height: 220px;
    margin-top: 0;
  }
  .footer__bottom-logo {
    display: none;
  }
  .footer__bottom-logo--sp-view {
    display: block;
    display: flex;
  }
  .footer__bottom-copyright {
    display: none;
  }
  .footer__bottom-copyright--sp-view {
    display: block;
  }
  .footer__bottom p {
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .to-top {
    bottom: 18px;
    right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */